<IfModule mod_headers.c>
  <FilesMatch "\.(html|css|js)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>

RedirectMatch 301 /komanda/demidova/ /компания/команда/демидова/
ErrorDocument 403 /%D0%BE%D1%88%D0%B8%D0%B1%D0%BA%D0%B0/403/
ErrorDocument 404 /%D0%BE%D1%88%D0%B8%D0%B1%D0%BA%D0%B0/404/
ErrorDocument 500 /%D0%BE%D1%88%D0%B8%D0%B1%D0%BA%D0%B0/500/